<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> Laptop </h1><br>
        
        <form method="POST", action="/predict">
           <b> Intel Core :  <input type="text", name='a', placeholder="Intel Core"> <br><br>
            InteCore Generation :  <input type="text", name='b', placeholder="InteCore Generation"> <br><br>
            Processing speed(GHz) :  <input type="text", name='c', placeholder="Processing speed(GHz)"> <br><br>
            Ram(gb) : <input type="text", name='d', placeholder="Ram(gb)"> <br><br>
            HDD(gb) : <input type="text", name='e', placeholder="HDD(gb)"> <br><br>
            SSD(gb) : <input type="text", name='f', placeholder="SSD(gb)"> <br><br>
            Graphics(gb) : <input type="text", name='g', placeholder="Graphics(gb)"> <br><br>
            ScreenSize(inch) : <input type="text", name='h', placeholder="ScreenSize(inch) "> <br><br>
            <br></b>
            <input type="submit" , value='Predict Price!' >
        </form>
        
    </center>

    </body>
</html>
